html, body{
    margin: 0;
    background-color: hsl(220, 15%, 55%);}
 #text{
    font-size: 15px;
    color: hsl(212, 12%, 79%);
    font-weight: 700;
}
h2{
    font-size: 17px;
    color: hsl(218, 44%, 22%);
    font-weight: 800;
    text-align: center;
    
}
.main-sec{
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 450px;
    border-radius: 15px;
    font-family: "Outfit", sans-serif;
    text-align: center;
    margin: 150px;
}
    
    @media only screen and (max-width:375px) {
  /* For mobile phones: */
        .main-sec{
    width: 60%;
      height: auto;
       margin: auto;
    }
 
}

.image-sec{
    margin: 20px;
}



