

    body{
        background-color: hsl(220, 15%, 55%);
            height: 100vh;
        align-items: center;
        jusstify-content:center;
    }
    *{
           box-sizing: border-box;
            margin: 0;
            padding: 0;
    }
 #text{
    font-size: 15px;
    color: hsl(212, 12%, 79%);
    font-weight: 700;
}
h2{
    font-size: 17px;
    color: hsl(218, 44%, 22%);
    font-weight: 800;
    text-align: center;
    
}
.main-sec{
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 450px;
    border-radius: 15px;
    font-family: "Outfit", sans-serif;
    text-align: center;
    margin: 100px;
    
}

.image-sec{
    margin: 20px;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
@media screen and (max-width)


