body{
    background-color: hsl(220, 15%, 55%);}
*{
       box-sizing: border-box;
        margin: 0;
        padding: 0;
 #text p{
    font-size: 15px;
    color: hsl(212, 12%, 79%);
    font-weight: 700;
     padding-bottom: 50px;
}
h2{
    font-size: 17px;
    color: hsl(218, 44%, 22%);
    font-weight: 800;
    text-align: center;
    
}
.main-sec{
    background-color: hsl(0, 0%, 100%);
    max-width: 350px;
    height: 450px;
    border-radius: 15px;
    font-family: "Outfit", sans-serif;
    text-align: center;
    margin: auto auto;
}
    
    @media only screen and (max-width:500px) {
  /* For mobile phones: */
       body{ .main-sec{
/*     width: 100%; */
      
           
    }
        }
}

.image-sec{
    margin: 20px;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

